@import "./variables.css";

.header {
  background: var(--light-header-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  :global .dark-theme :local & {
    background: var(--dark-header-background);
  }

  a {
    text-decoration: none;
    padding: 1rem 0;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;

  & img {
    height: 44px;
  }
}

.mark {
  margin-right: 0.5rem;
}

.text,
.mark {
  font-size: 18px;
}

.right {
  display: flex;
  position: relative;
}

.breadcrumb {
  margin: 0 1rem;
}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
