@import "./variables.css";

.intro {
  text-align-last: justify;

  .avatar {
    width: 6rem;
    border-radius: 3rem;
    display: inline-block;
    vertical-align: middle;
  }
}


.intro > h1 {
  text-indent: -0.4rem;
  font-size: 6rem;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
