@import "./variables.css";

.intro {
  text-align-last: justify;

  .avatar {
    width: 6rem;
    border-radius: 3rem;
    display: inline-block;
    vertical-align: middle;
    margin: 0.25rem;
  }
}


.intro > h1 {
  font-size: 6rem;
  text-indent: -0.4rem;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

@media (--phone) {
  .intro {
    .avatar {
      width: 4rem;
    }
  }

  .intro > h1 {
    font-size: 4rem;
    text-indent: -0.25rem;
  }
}
