@import "./variables.css";

.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 0 auto 0px;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--light-border-color);

    :global .dark-theme :local & {
      border-color: var(--dark-border-color);
    }
  }

  @media (--tablet) {
    max-width: 660px;
  }

  h1 {
    margin: 0 0 10px;
  }

  img {
    border-radius: 8px;
  }
}

.title {
  a {
    text-decoration: none;
  }
}

.coverImage {
  border-radius: 8px;
  margin-bottom: 40px;
}

.meta {
  font-size: 1rem;
  margin-bottom: 20px;
}

.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--accent-color);
  color: var(--light-background);
}

.tag:hover {
  color: var(--light-background-secondary);
}

.postContent {
  position: relative;
}
