@import "./variables.css";

.post {
  padding: 1rem 0;
  margin: 0 auto 0px;

  h1 {
    margin: 0 0 10px;
  }

  img {
    border-radius: 8px;
  }
}

.title {
  a {
    text-decoration: none;
  }
  a::before{
    content: "\00bb "
  }
}

.coverImage {
  border-radius: 8px;
  margin: 1rem 0;
}

.meta {
  font-size: 1rem;
  font-weight: 700;
  text-align-last: justify;

  .date {
    display: inline-block;
  }

  .excerpt {
    font-weight: 500;
    text-align-last: left;
    display: block;
  }
}

.postContent {
  position: relative;
}

.footer {
  margin-top: 4rem;
}
