@import "./variables.css";

.tags {
  margin-left: 0.5rem;
  display: inline-block;
}

.tag {
  display: inline-block;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--light-background);
  font-weight: 700;

  a {
    text-decoration: none;
  }
}

.tag:hover {
  color: var(--light-background-secondary);
  a {
    color: var(--light-background-secondary);
  }
}

.delimiter {
  color: var(--accent-color);
}

.tagList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;

  li {
    margin: 2rem 0;
  }

  a {
    font-weight: 700;
    text-decoration: none;
  }
}
